* {
    margin: 0px;
    box-sizing:border-box;
}


html {
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    color: white;
}

.seating {
    width: 40%;
    display: inline-flex;
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


#table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#basicseat {
    display:block;
    width: 50%;
    height: 200px;
    overflow: hidden;
}

#reclinerseat {
    display: block;
    width: 50%;
    overflow: hidden;
    height: 200px;
}

h1 {
    text-align: center;
    font-family:cursive;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}


p {
    font-size: 20px;
    font-family: sans-serif;
   
}


#aboutus {
    background-color: #D16666;
}

#prices {
    background-color: #A8DADC;
}

#nowshowing {
    background-color: #ECFEE8;
}


#synopsis {
    background-color: sandybrown;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.section {
    padding: 50px 100px;
}

footer {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
  }
  
  .flex-container > div {
    background-color: #black;
    width: 280px;
    margin: 10px;
    text-align: left;
    line-height: 50px;
    font-size: 30px;
    color: white;
  }

  .aboutmecontainer {
    display: flex;
    flex-direction: column;
  }
  
  .aboutmecontainer > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 15px;
  }


.button {
  background-color: #4CAF50;
  border: none;
  padding: 12px 32px;
  text-align: center
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.synopsis {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.synopsis > div {
 width: 500px;
  margin: 10px;
  text-align: left;
  line-height: 20px;
  font-size: 20px;
}

/* movies synopsis */
#synopsis{
	width: 100%;
	height: auto;
	margin-top: 5px;
	text-decoration: none;
	color: #FFF;
	float: left;
}
#synopsis div{
	width: 50%;
	height: 300px;
	float: left;
	color: #000; 
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7{
	width: 12%;
	height: 42px;
	float: left;
	margin-top: 3px;
	border: 5px #696969 ridge;
	margin-left: 2%;
	font-weight: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 14px;
}

#heading1{
	font-size: 22px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	text-decoration: none;
	margin-left: 20px;
}
.synopsis {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.synopsis > div {
 width: 500px;
  margin: 10px;
  text-align: left;
  line-height: 20px;
  font-size: 20px;
}